<div class="fav-weather-card">
  <h1>{{ favWeather.name }} <small>({{ favWeather.sys.country }})</small></h1>
  <h5>{{ favWeather.weather[0].main }}, {{ favWeather.main.temp }}°C</h5>

  <div class="fav-weather-card-icons">
    <img
      class="weather-icon"
      src="http://openweathermap.org/img/w/{{favWeather.weather[0].icon}}.png"
      alt="Weather icon"
    >

    <img
      class="remove-icon"
      src="assets/star-solid.svg"
      alt="Remove icon"
      height="24"
      width="24"
      (click)="removeWeatherFromFavorites(favWeather)"
    >
  </div>
</div>
